# üö¥‚Äç‚ôÄÔ∏è Bike Sales ‚Äì Data Transformation & Loading (ETL Step 2)

This notebook represents the **second stage of the ETL pipeline** for the Bike Sales dataset.  
After completing the exploratory analysis in `01_eda_bike_sales.ipynb`, we now focus on transforming the raw data into a clean, structured format suitable for loading into a SQL Server data warehouse.

### Goals:
- Clean and normalize all 8 tables
- Convert data types (e.g., dates, numeric fields)
- Drop irrelevant or empty columns
- Prepare foreign key relationships
- Save cleaned data for loading into SQL Server

### Steps:
1. **Load Raw CSV Files**  
   Import all original tables from the `data/` directory

2. **Drop Unnecessary Columns**  
   Remove columns that are entirely null or irrelevant for analysis

3. **Convert Data Types**  
   Ensure correct formats for datetime, numeric, and categorical fields

4. **Normalize & Standardize**  
   Apply string normalization, fix inconsistent values, and prepare keys

5. **Export Cleaned Tables**  
   Save transformed tables to `data/cleaned/` for use in the next ETL stage

---

üìå This transformation step ensures data integrity and consistency before loading into the SQL Server environment via `03_load_to_sqlserver.ipynb`.

### **Step 1 :** Import necessary libraries

In [2]:
import pandas as pd
import numpy as np

### **Step 2:** Load all the CSV files

In [3]:
# Load datasets with encoding fallback
addresses = pd.read_csv("data/Addresses.csv", encoding="ISO-8859-1")
business_partners = pd.read_csv("data/BusinessPartners.csv", encoding="ISO-8859-1")
employees = pd.read_csv("data/Employees.csv", encoding="ISO-8859-1")
product_categories = pd.read_csv("data/ProductCategories.csv", encoding="ISO-8859-1")
products = pd.read_csv("data/Products.csv", encoding="ISO-8859-1")
product_texts = pd.read_csv("data/ProductTexts.csv", encoding="ISO-8859-1")
sales_order_items = pd.read_csv("data/SalesOrderItems.csv", encoding="ISO-8859-1")
sales_orders = pd.read_csv("data/SalesOrders.csv", encoding="ISO-8859-1")

### **Step 3:** Clean `addresses` table

In [11]:
# Rename column with BOM artifact if necessary
addresses.rename(columns={"√Ø¬ª¬øADDRESSID": "ADDRESSID"}, inplace=True)

In [ ]:
# Drop `VALIDITY_STARTDATE` and `VALIDITY_ENDDATE` due to placeholder values (`20000101`, `99991231`) that do not reflect employee validity periods.
addresses.drop(columns=["VALIDITY_STARTDATE", "VALIDITY_ENDDATE"], inplace=True)

In [59]:
# Quick check
addresses.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54 entries, 0 to 53
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ADDRESSID    54 non-null     int64
 1   CITY         54 non-null     object
 2   POSTALCODE   54 non-null     object
 3   STREET       54 non-null     object
 4   BUILDING     48 non-null     float64
 5   COUNTRY      54 non-null     object
 6   REGION       54 non-null     object
 7   ADDRESSTYPE  54 non-null     int64
 8   LATITUDE     54 non-null     float64
 9   LONGITUDE    54 non-null     float64
dtypes: float64(3), int64(2), object(5)
memory usage: 4.3+ KB

In [13]:
# Save cleaned addresses table
cleaned_path = "data/cleaned/"
os.makedirs(cleaned_path, exist_ok=True)

addresses.to_csv("data/cleaned/addresses.csv", index=False)

### Note: Transforming `addresses` Table

- Renamed column `√Ø¬ª¬øADDRESSID` to `ADDRESSID` to remove BOM artifact.
- Dropped `VALIDITY_STARTDATE` and `VALIDITY_ENDDATE` columns due to irrelevance and redundancy.
- Saved cleaned table to `data/cleaned/addresses.csv`.

### **Step 4:** Clean `business_partners` table

In [6]:
# Drop FAXNUMBER column due to excessive missing values
business_partners.drop(columns=["FAXNUMBER"], inplace=True)

# Convert CREATEDAT and CHANGEDAT to datetime
business_partners["CREATEDAT"] = pd.to_datetime(business_partners["CREATEDAT"], format="%Y%m%d")
business_partners["CHANGEDAT"] = pd.to_datetime(business_partners["CHANGEDAT"], format="%Y%m%d")

# Convert PHONENUMBER to string
business_partners["PHONENUMBER"] = business_partners["PHONENUMBER"].astype(str)

In [16]:
# Quick check
business_partners.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PARTNERID     40 non-null     int64
 1   PARTNERROLE   40 non-null     int64
 2   EMAILADDRESS  40 non-null     object
 3   PHONENUMBER   40 non-null     object
 4   WEBADDRESS    40 non-null     object
 5   ADDRESSID     40 non-null     int64
 6   COMPANYNAME   40 non-null     object
 7   LEGALFORM     40 non-null     object
 8   CREATEDBY     40 non-null     int64
 9   CREATEDAT     40 non-null     datetime64[ns]
 10  CHANGEDBY     40 non-null     int64
 11  CHANGEDAT     40 non-null     datetime64[ns]
 12  CURRENCY      40 non-null     object
dtypes: datetime64[ns](2), int64(5), object(6)
memory usage: 4.2+ KB

In [8]:
# Save cleaned business_partners table
business_partners.to_csv("data/cleaned/business_partners.csv", index=False)

### Note: Transforming `business_partners` Table

- Dropped `FAXNUMBER` and `ADDRESS` columns due to irrelevance and redundancy.
- Converted `CREATEDAT` and `CHANGEDAT` to proper datetime format.
- Cast `PHONENUMBER` from integer to string for consistency.
- Saved cleaned table to `data/cleaned/business_partners.csv`.

### **Step 5:** Clean `employees` table

In [ ]:
# Drop irrelevant columns
employees.drop(columns=[
    "NAME_INITIALS",
    "Unnamed: 13", "Unnamed: 14", "Unnamed: 15",
    "Unnamed: 16", "Unnamed: 17", "Unnamed: 18"
], inplace=True)

In [24]:
# Drop `VALIDITY_STARTDATE` and `VALIDITY_ENDDATE` due to placeholder values (`20000101`, `99991231`) that do not reflect employee validity periods.
employees.drop(columns=["VALIDITY_STARTDATE", "VALIDITY_ENDDATE"], inplace=True)

In [25]:
# Quick check
employees.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   EMPLOYEEID    14 non-null     int64
 1   NAME_FIRST    14 non-null     object
 2   NAME_MIDDLE   12 non-null     object
 3   NAME_LAST     14 non-null     object
 4   SEX           14 non-null     object
 5   LANGUAGE      14 non-null     object
 6   PHONENUMBER   14 non-null     object
 7   EMAILADDRESS  14 non-null     object
 8   LOGINNAME     14 non-null     object
 9   ADDRESSID     14 non-null     int64
dtypes: int64(2), object(8)
memory usage: 1.2+ KB

In [28]:
# Save cleaned employees table
employees.to_csv("data/cleaned/employees.csv", index=False)

### **Step 6:** Clean `product_categories` table

In [31]:
# Convert CREATEDAT to datetime
product_categories["CREATEDAT"] = pd.to_datetime(product_categories["CREATEDAT"], format="%Y%m%d")

In [32]:
# Quick check
product_categories.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   PRODCATEGORYID  9 non-null      object
 1   CREATEDBY       9 non-null      int64
 2   CREATEDAT       9 non-null      datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 348.0+ bytes

In [33]:
product_categories.to_csv("data/cleaned/product_categories.csv", index=False)

### Note: Transforming `product_categories` Table

- Converted `CREATEDAT` to proper datetime format (`YYYYMMDD`).
- Saved cleaned table to `data/cleaned/product_categories.csv`.

### **Step 7:** Clean `products` table

In [35]:
# Drop empty columns
products.drop(columns=[
    "WIDTH", "DEPTH",
    "HEIGHT", "DIMENSIONUNIT",
    "PRODUCTPICURL"
], inplace=True)

In [36]:
# Convert date columns
products["CREATEDAT"] = pd.to_datetime(products["CREATEDAT"], format="%Y%m%d")
products["CHANGEDAT"] = pd.to_datetime(products["CHANGEDAT"], format="%Y%m%d")

In [37]:
# Quick check
products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   PRODUCTID           42 non-null     object
 1   TYPECODE            42 non-null     object
 2   PRODCATEGORYID      42 non-null     object
 3   CREATEDBY           42 non-null     int64
 4   CREATEDAT           42 non-null     datetime64[ns]
 5   CHANGEDBY           42 non-null     int64
 6   CHANGEDAT           42 non-null     datetime64[ns]
 7   SUPPLIER_PARTNERID  42 non-null     int64
 8   TAXTARIFFCODE       42 non-null     int64
 9   QUANTITYUNIT        42 non-null     object
 10  WEIGHTMEASURE       42 non-null     float64
 11  WEIGHTUNIT          42 non-null     object
 12  CURRENCY            42 non-null     object
 13  PRICE               42 non-null     int64
dtypes: datetime64[ns](2), float64(1), int64(5), object(6)
memory usage: 4.7+ KB

In [38]:
products.to_csv("data/cleaned/products.csv", index=False)

### Note: Transforming `products` Table

- Dropped irrelevant columns: `WIDTH`, `DEPTH`, `HEIGHT`, `DIMENSIONUNIT`, `PRODUCTURL`.
- Converted `CREATEDAT` and `CHANGEDAT` to datetime format.

### **Step 8:** Clean `product_texts` Table

In [39]:
# Drop empty column
product_texts.drop(columns=["LONG_DESCR"], inplace=True)

In [40]:
# Quick check
product_texts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44 entries, 0 to 43
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PRODUCTID     44 non-null     object
 1   LANGUAGE      44 non-null     object
 2   SHORT_DESCR   44 non-null     object
 3   MEDIUM_DESCR  36 non-null     object
dtypes: object(4)
memory usage: 1.5+ KB

In [41]:
product_texts.to_csv("data/cleaned/product_texts.csv", index=False)

### Note: Transforming `product_texts` Table

- Dropped `LONG_DESCR` column due to 100% missing values.
- Saved cleaned table to `data/cleaned/product_texts.csv`.

### **Step 9:** Clean `sales_order_items` table

In [43]:
# Drop empty column
sales_order_items.drop(columns=["OPITEMPOS"], inplace=True)

In [45]:
# Convert DELIVERYDATE to datetime
sales_order_items["DELIVERYDATE"] = pd.to_datetime(
    sales_order_items["DELIVERYDATE"], format="%Y%m%d", errors="coerce"
)

Note: The column `DELIVERYDATE` contained out-of-bounds values such as `29991212`, which exceed pandas' datetime limit (2262-04-11). These were safely coerced to `NaT` using `errors='coerce'` during conversion.

In [46]:
# Quick check
sales_order_items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1930 entries, 0 to 1929
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   SALESORDERID    1930 non-null   int64
 1   SALESORDERITEM  1930 non-null   int64
 2   PRODUCTID       1930 non-null   object
 3   NOTEID          1930 non-null   object
 4   CURRENCY        1930 non-null   object
 5   GROSSAMOUNT     1930 non-null   int64
 6   NETAMOUNT       1930 non-null   float64
 7   TAXAMOUNT       1930 non-null   float64
 8   ITEMATPSTATUS   1930 non-null   object
 9   QUANTITY        1930 non-null   int64
 10  QUANTITYUNIT    1930 non-null   object
 11  DELIVERYDATE    1908 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(2), int64(4), object(5)
memory usage: 181.1+ KB

In [47]:
sales_order_items.to_csv("data/cleaned/sales_order_items.csv", index=False)

### Note: Transforming `sales_order_items` Table

- Dropped 'OPITEMPOS' column due to 100% missing values.
- Converted `DELIVERYDATE` to datetime format.
- Saved cleaned table to `data/cleaned/sales_order_items.csv`.

### **Step 10:** Clean `sales_orders` Table

In [48]:
# Drop empty column
sales_orders.drop(columns=["NOTEID"], inplace=True)

In [49]:
# Convert date columns
sales_orders["CREATEDAT"] = pd.to_datetime(sales_orders["CREATEDAT"], format="%Y%m%d")
sales_orders["CHANGEDAT"] = pd.to_datetime(sales_orders["CHANGEDAT"], format="%Y%m%d")

In [50]:
# Convert fiscal year period to pandas Period type
sales_orders["FISCAL_PERIOD"] = sales_orders["FISCALYEARPERIOD"].astype(str).apply(
    lambda x: pd.Period(f"{x[:4]}-{x[-2:]}", freq="M")
)

### Fiscal Period Transformation

- Converted `FISCALYEARPERIOD` (e.g., `2018011`) to pandas `Period` type (`freq="M"`).
- New column `FISCAL_PERIOD` enables month-based time series analysis and dashboard filtering.

In [51]:
# Quick check
sales_orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 334 entries, 0 to 333
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   SALESORDERID      334 non-null    int64
 1   CREATEDBY         334 non-null    int64
 2   CREATEDAT         334 non-null    datetime64[ns]
 3   CHANGEDBY         334 non-null    int64
 4   CHANGEDAT         334 non-null    datetime64[ns]
 5   FISCVARIANT       334 non-null    object
 6   FISCALYEARPERIOD  334 non-null    int64
 7   PARTNERID         334 non-null    int64
 8   SALESORG          334 non-null    object
 9   CURRENCY          334 non-null    object
 10  GROSSAMOUNT       334 non-null    int64
 11  NETAMOUNT         334 non-null    float64
 12  TAXAMOUNT         334 non-null    float64
 13  LIFECYCLESTATUS   334 non-null    object
 14  BILLINGSTATUS     334 non-null    object
 15  DELIVERYSTATUS    334 non-null    object
 16  FISCAL_PERIOD     334 non-null    period[M]
dtypes: datetime64[ns](2), float64(2), int64(6), object(6), period[M](1)
memory usage: 44.5+ KB

In [52]:
sales_orders.to_csv("data/cleaned/sales_orders.csv", index=False)

### Note: Transforming `sales_orders` Table

- Dropped empty column `NOTEDID`.
- Converted `CREATEDAT` and `CHANGEAT` to datetime format (`%Y%m%d`).
- Transformed `FISCALYEARPERIOD` into pandas `Period` type (`freq="M"`), stored in `FISCAL_PERIOD`.
- Saved cleaned table to `data/cleaned/product_texts.csv`.

### Entity Relationship Diagram (ERD)

The following diagram was created in Lucidchart based on the relationships identified during the EDA phase.

During the transformation process, we removed empty or irrelevant columns, standardized key fields, and adjusted data types to ensure consistency across all 8 tables. The diagram below reflects the cleaned structure and intended relationships between entities.

> Note: Foreign key constraints are not yet enforced in pandas, but the relationships shown here will be implemented in the next step (`03_load_to_sqlserver.ipynb`) when the data is loaded into the SQL Server environment.

![ERD Diagram](erd_cleaned.png)

---

## ‚úÖ Final Note: Data Transformation Completed

All 8 tables have been successfully cleaned and transformed.

- Irrelevant or empty columns removed  
- Date fields converted to `datetime` format  
- `FISCALYEARPERIOD` transformed into pandas `Period` type for time series analysis

---

## üöÄ Next Step: `03_load_to_sqlserver.ipynb`

In the next notebook, we will:

- Connect to the SQL Server instance  
- Create target tables with appropriate schemas  
- Load cleaned data from `data/cleaned/` into the database  
- Validate row counts and foreign key integrity  
- Prepare the environment for downstream analytics and dashboarding

Let‚Äôs move from clean files to a fully structured data warehouse üí°